*.png  
*.md
*.venv
**/.env.local
**/__pycache__/
/trivy_results
/pip_audit_results
*.db
*.key
*.crt
/test_results
.make_env

**/coverage
.coverage
coverage.xml
.coveragerc

/actions-runner
/vulnerability_tests_results
/tls

#playwright
blog_posts_app/frontend/test-results/
blog_posts_app/frontend/playwright-report/
blog_posts_app/frontend/blob-report/
blog_posts_app/frontend/playwright/.cache/
blog_posts_app/frontend/playwright/.auth/
blog_posts_app/frontend/state.json

#frontend
**/.env
**/node_modules

#Results
get-sonar-summary.py

shell_output.txt
