*.png  
*.md
*.venv
**/.env.local
**/__pycache__/
/trivy_results
/pip_audit_results
*.db
*.key
*.crt
/test_results

**/coverage
.coverage
coverage.xml

#playwright
frontend/test-results/
frontend/playwright-report/
frontend/blob-report/
frontend/playwright/.cache/
frontend/playwright/.auth/
frontend/state.json

#frontend
frontend/.env
frontend/node_modules

#Results
get-sonar-summary.py
